body {
  overflow: scroll;
  background-color: skyblue;
}

#home {
  text-align: center;
  align-items: center;
/*background-image: url("../images/capitol.jpg");*/
background-size: 100% 100%;
background-repeat: no-repeat;
background-size:cover;
overflow:hidden;
}

#results {
  text-align: center;
  align-items: center;
  /*background-image:url("../images/houseinterior.jpg");*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.thing {
  /*background-color: rgba(255, 255, 255, 0.75);*/
  width: 90%;
  height: 100%;
  margin: auto;
}

a {
  font-size: 24px;
}

img.bg{
  min-height:100%;
  min-width:1024px;
  width:100%;
  height:auto;
  position:fixed;
  top:0;
  left:0;
}


/*.center{
  text-align: center;
}*/

.flagPin{

  height: 100px;
  /*transform-origin:50% 50%;
  animation:2s rotateRight infinite linear;*/
}

/*@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}*/
.title{
color: white;
font-family: 'Spectral SC', serif;
font-style: bold;
font-weight: 600;
/*height: 5%;*/
text-transform: uppercase;
background: repeating-linear-gradient(
  120deg,
  #E0162B,
  #E0162B 10px,
  #0052A5 10px,
  #0052A5 20px
);

display: inline-flex;
align-items: center;
/*margin-top:-30px;*/
}

#homepage{

  display:block;

}
#searchbar{
  text-align: center;

}


input[type=text] {
    width: 150px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

/*#constitution{
background-color: #F1F1D4;
font-family: 'Great Vibes', cursive;
opacity: 0.1;
}

#constitution:hover {
    opacity: 1;
}*/

#manual{
  background-color: #9310E8;
  opacity:0.4;
  text: #FFFFFF;
}
#manual:hover{
  opacity:1;
}

/*#congressphoto{
height:20px;
width:20px;
}*/

#datapull{
text-align: center;
margin-left: 300px;
margin-right: 300px;
opacity: 0.5;
height:40%;
width:40%;
}
#datapull:hover{
  opacity:1;
}

#turtleButton{
  background-color:purple;
}
#seal{

  max-width: 30px;
  max-width: 30px;
  opacity:0.7;
}

#seal:hover{
  transform-origin:50% 50%;
  animation:10s rotate linear;
}

@keyframes rotate{
    100%{ transform:rotate(360deg); }
}

.donut {
  min-height: 500px;
}

.tooltip {
  box-shadow: 0 0 5px #999999;
  display: none;
  font-size: 16px;
  left: 135px;
  padding: 10px;
  position: relative;
  text-align: center;
  word-wrap: break-word;
  bottom: 275px;
  width: 140px;
  z-index: 10;
  line-height: 140%;
  /*font-family: "Open Sans", sans-serif;*/
  font-weight: 300;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  opacity: 1;
}

.label {
  font-size: inherit;
  font-weight: inherit;
  white-space: normal;
}

.chart svg {
  background-color: white;
}

.histTip {
  width: 500px;
  bottom: 500px;
  display: block;
  position: relative;
}

.table {
  margin: auto;
  background-color: white;
  border: 5px black;
  max-width: 200px;
}

.stateRight{
text-align: right;
}

.nameLeft{
  text-align: left;
}

.primary-image {
  border: 5px black solid;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text:
}
