#home {


  background-color: grey;
}

#results {

  background-color: grey;
}

.title{
color: black;
text-align: center;
font-family: 'CMUSerifRoman';
font-weight: bold;
font-style: normal;
text-transform: uppercase;
background-color: white;

}

#searchbar{
  text-align: center;

}

#frontpage {
  display:inline-flex;
  align-items: center;
  margin-top:-20px;
  background-color: white;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

#constitution{
background-color: #F1F1D4;
text-align: center;
display:block;
text-align: center;
}*/

#datapull{
text-align: center;
margin-left: 300px;
margin-right: 300px;
}
